<footer class="footer">
    <p class="footer__title">{{ site.name }}</p>
    <div class="social">
        {{ if site.blog_address }}<a href="{{ site.blog_address }}" target="_blank">My Blog</a>{{ endif }}
        {{ if site.linkedin_address }}<a href="{{ site.linkedin_address }}" target="_blank">LinkedIn</a>{{ endif }}
        {{ if site.twitter_username }}<a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>{{ endif }}
        {{ if site.email_address }}<a href="mailto:{{ site.email_address }}" target="_blank">Email</a>{{ endif }}
    </div>
    <!-- <p class="footer__subtitle">{{ site.job }}</p> -->
</footer>
