<footer class="footer">
    <p class="footer__title">{{ site.name }}</p>
    <div class="social">
        {{ if site.github_address }}
            <a href="{{ site.github_address }} " target="_blank">GitHub</a>
		{{ endif }}
        {{ if site.blog_address }}
            <a href="{{ site.blog_address }}" target="_blank">Blog</a>
		{{ endif }}
        {{ if site.linkedin_address }}
            <a href="{{ site.linkedin_address }}" target="_blank">LinkedIn</a>
		{{ endif }}
        {{ if site.email_address }}
			<a href="mailto:{{ site.email_address }}" target="_blank">Email</a>
		{{ endif }}
    </div>
</footer>
