<header>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='typed-lib/typed.js' type="text/javascript"></script>

    <div class="container">
        <div class="intro">
            <p class="intro__pre">Hi There!</p>
            <p class="intro__main">My name is <span>{{ site.name }}</span>, and I'm an economics graduate who <span id="typed"></span> loves all things maths.</p>
            <p class="intro__post">{{ site.location }}</p>
        </div>

        {{ if site.github_username or site.linkedin_address or site.blog_address or site.twitter_username or site.email_address }}
        <div class="social">
            {{ if site.blog_address }}<a href="{{ site.blog_address }}" target="_blank">My Blog</a>{{ endif }}
            {{ if site.twitter_username }}<a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>{{ endif }}
            {{ if site.linkedin_address }}<a href="{{ site.linkedin_address }}" target="_blank">LinkedIn</a>{{ endif }}
            {{ if site.email_address }}<a href="mailto:{{ site.email_address }}" target="_blank">Email</a>{{ endif }}
        </div>
        {{ endif }}

    </div>

</header>

<script>
var options = {
strings: ["<i>First</i> sentence.", "&amp; a second sentence."],
typeSpeed: 40
}

var typed = new Typed("#typed", options);
</script>
